
body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

.search-container {
    margin-bottom: 2rem;
    text-align: center';
}

#searchInput {
    width: 50%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.schedule-container .talk {
    background: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 5px solid #333;
}

.schedule-container .break {
    background: #eee;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-style: italic;
}

.talk h2 {
    margin-top: 0;
}

.talk .speakers {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.talk .category {
    margin-top: 1rem;
}

.talk .category span {
    background: #333;
    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    font-size: 0.8rem;
}
